body {
    font-family: 'Poppins', sans-serif !important;
}

.custom-cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(238, 29, 35);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, background 0.3s ease;
    z-index: 9999;
}


.custom-cursor.hovered {
    width: 100px;
    height: 100px;
    background: rgb(238, 29, 35, 0.4);
    z-index: 1;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f8f8f8 !important;
    z-index: 9999 !important;
    padding: 20px;
    text-align: center;
}

.brand-text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: clamp(2.5rem, 10vw, 8rem);
    letter-spacing: -2px;
    line-height: 1;
    word-break: break-word;
    color: #ee1d23 !important;
}

.loading-bar {
    width: clamp(150px, 60%, 400px);
    height: 20px;
    background: #ddd;
    overflow: hidden;
    position: relative;
}

.loading-fill {
    height: 100%;
    background: #ee1d23;
    transition: width 0.6s ease;
}

.hero-section {
    min-height: 100vh;
    background: whitesmoke !important;
    /* background: linear-gradient(135deg, #0f0f0f, #1c1c1c); */
    color: black !important;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    cursor: default !important;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-title span {
    color: #ee1d23 !important;
}

.hero-subtitle {
    margin-top: 20px !important;
    font-size: 1.2rem !important;
    line-height: 1.7 !important;
    color: #333232 !important;
    max-width: 600px;
    font-weight: 900 !important;
}

.hero-btn-wrapper {
    margin-top: 30px !important;
}

.hero-btn {
    background: #6c63ff !important;
    color: #ffffff !important;
    padding: 12px 30px !important;
    border-radius: 50px;
    transition: all 0.15s ease;
    text-decoration: none;
}

.hero-btn:hover {
    opacity: .7 !important;
}

.shape-wrapper {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape-composition {
    position: relative;
    width: 400px;
    height: 400px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    --x: 0px;
    --y: 0px;
    transform: translate(var(--x), var(--y));
    animation: float 6s ease-in-out infinite;
}

.orange-circle {
    width: 130px;
    height: 130px;
    background: #ee1d23;
    --x: 50px;
    --y: 50px;
}

.purple-circle {
    width: 150px;
    height: 150px;
    background: #6c63ff;
    --x: 160px;
    --y: 130px;
}

.pill-shape {
    width: 280px;
    height: 90px;
    background: #eaeaea;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    --x: 50px;
    --y: 150px;
    transform: translate(var(--x), var(--y));
    animation: rotateSlow 15s linear infinite;
    overflow: hidden;
    white-space: nowrap;
}

.pill-track {
    width: 100%;
    overflow: hidden;
}

.pill-content {
    display: inline-flex;
    align-items: center;
    gap: 25px;
    animation: scrollLeft 12s linear infinite;
    color: #6c63ff !important;
}

.brand-tag {
    font-weight: 600;
    font-size: 32px;
    white-space: nowrap;
}

.star {
    color: #ee1d23;
    font-size: 32px;
}

.ring {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.6;
    --x: 0px;
    --y: 0px;
    transform: translate(var(--x), var(--y));
}

.ring-top {
    --x: 190px;
    --y: -60px;
}

.ring-bottom {
    --x: 25px;
    --y: 60px;
}

@keyframes float {
    0% {
        transform: translate(var(--x), var(--y)) translateY(0px);
    }

    50% {
        transform: translate(var(--x), var(--y)) translateY(-15px);
    }

    100% {
        transform: translate(var(--x), var(--y)) translateY(0px);
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes rotateSlow {
    0% {
        transform: translate(var(--x), var(--y)) rotate(0deg);
    }

    100% {
        transform: translate(var(--x), var(--y)) rotate(360deg);
    }
}

/* Responsive */
@media (max-width: 992px) {
    .hero-title {
        font-size: 2.5rem !important;
    }

    .hero-subtitle {
        font-size: 1.1rem !important;
        margin: 20px auto 0 !important;
    }
}

.highlight {
    color: black;
    font-weight: 700 !important;
}

.expand-fade {
    transform: scale(30);
    opacity: 0;
}

.loader-wrapper {
    transition: opacity 0.5s;
}

.custom-toggler {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: block;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 2px;
}

.middle {
    display: block;
    height: 3px;
    width: 200%;
    background: black;
    border-radius: 2px;
}

.bottom {
    display: block;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 2px;
    margin-left: 17px;
}

.burger-icon:hover {
    background: #ee1d23
}

.india-text {
    text-transform: capitalize;
}

.india-time,
.our-works {
    font-weight: 600 !important;
}

.our-works:hover,
.india-time:hover {
    color: #ee1d23;
}

.custom-toggler:hover .burger-icon {
    background: #ee1d23;
}

.offcanvas-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2000;
}

.offcanvas-menu.open {
    transform: translateX(0);
}

.blur-section {
    flex: 1;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blur-heading {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}

.links-section {
    flex: 1;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.links-section li {
    margin: 20px 0;
}

.links-section a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.links-section a:hover {
    color: #ff4081;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media(max-width: 768px) {
    .links-section a {
        font-size: 1.5rem;
    }

    .blur-heading {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    .blur-section {
        display: none;
    }
    .links-section {
        flex: 1 1 100%;
    }
    .links-section a {
        font-size: 1.5rem;
    }
}